* {
    background-color: rgb(32, 32, 32);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    color: rgb(223, 223, 223);
    font-size: 48px;
}

button {
    background-color: rgb(63, 63, 63);
    padding: 16px;
    color: rgb(223, 223, 223);
    font-weight: bold;
    border: none;
    cursor: pointer;
    align-self: flex-start;
}

.container {
    display: flex;
    justify-content: center;
}

.etch-a-sketch {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 30px;
}

.content {
    display: flex;
    flex-direction: column;
}

.canvas {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    background-color: white;
}

.row {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.pixel {
    flex: 1;
    border: 1px solid rgb(247, 247, 247);
    background-color: white;
}

.hovered {
    background-color: rgb(156, 156, 156);
    border: 1px solid rgb(156, 156, 156);
}